/* SASS declarations */

$big-font: Soria;
$small-font: "EB Garamond";
$inkdark: #44433D;
$inklight: #757369;
$inkdisabled: #B1AFA4;
$paper: #FFFDF0;

/* font declarations */

@font-face {
    font-family: 'Soria';
    src:url('../assets/fonts/Soria-Soria.woff2') format('woff2'),
        url('../assets/fonts/Soria-Soria.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'EB Garamond';
    src: url('../assets/fonts/EBGaramond-Italic.woff2') format('woff2'),
        url('../assets/fonts/EBGaramond-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'EB Garamond';
    src: url('../assets/fonts/EBGaramond-Regular.woff2') format('woff2'),
        url('../assets/fonts/EBGaramond-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
} 

/* end of fonts */

@mixin vf-grid{
	grid-template-columns: repeat(5, 1fr);
	grid-column-gap: 20px;
	grid-template-rows: repeat(12, 1fr);
	grid-row-gap: 20px;
}

@mixin top-deco{
	background-image: url("../assets/svg/top-border.svg");
	background-repeat: no-repeat;
	background-position: center center;
}

@mixin bottom-deco{
	background-image: url("../assets/svg/bottom-border.svg");
	background-repeat: no-repeat;
	background-position: center center;
}

@mixin page-flip{
	background-image: url("../assets/svg/page-flip.svg");
	background-repeat: no-repeat;
	background-position: center center;
}

/* End of SASS declarations */

/* Generic Vefran page stuff */

body{
	margin: 0;
	background-color: $inkdark;
	color: $inkdark;
	user-select: none;
}

h1{
	font-family: $big-font;
	font-size: 48px;
	margin: 0;
}

h2{
	font-family: $small-font;
	font-size: 24px;
	margin: 0;
	font-weight: normal;
}

a{
	color: $inkdark;
	text-decoration: none;
	cursor: url("../assets/svg/cursor2.svg") 10 10, pointer;
}

p{
	font-family: $small-font;
	font-size: 18px;
	margin-top: 20px;
}	

p:first-of-type{
	margin-top: 0px;
}

span{
	font-style: italic;
}

.pageContainer{
	width: 1320px;
	height: 1656px;
	background-color: $paper;
	margin: auto;
	display: grid;
	cursor: url("../assets/svg/cursor1.svg") 10 10, default;
	@include vf-grid;
}

.deco-tl{
	grid-column: 1;
	grid-row: 1/3;

	@include top-deco;
}

.deco-tr{
	grid-column: 5;
	grid-row: 1/3;

	@include top-deco;

	transform: scaleX(-1);
}

.deco-bl{
	grid-column: 1;
	grid-row: 13/11;

	@include bottom-deco;
}

.deco-br{
	grid-column: 5;
	grid-row: 13/11;

	@include bottom-deco;

	transform: scaleX(-1);
}

.deco-bm{
	grid-column: 3;
	grid-row: 12;
	background-image: url("../assets/svg/bottom-deco.svg");
	background-repeat: no-repeat;
	background-position: center top;
}

.flip-left{
	grid-column: 1;
	grid-row: 13/11;

	@include page-flip;
}

.flip-right{
	grid-column: 5;
	grid-row: 13/11;

	@include page-flip;

	transform: scaleX(-1);
}

.vf-title{
	grid-column: 2/5;
	grid-row: 2/4;
	text-align: center;
	vertical-align: top;
}

.vf-ico{
	grid-column: 3;
	grid-row: 3;
	display: block;
	margin: auto;
}

.vf-ico img{
	height: 120px;
}

.vf-content{
	grid-column: 2/5;
	grid-row: 4/12;
}

.sb-content-hero{
	grid-column: 2/5;
	grid-row: 6/11;
}

.sb-content-nohero{
	grid-column: 2/5;
	grid-row: 2/11;
}

.urlsvg{
	transform: translateY(20%);
}

.sidenav{
	z-index: 1;
	grid-column: 1/5;
	grid-row: 1/13;
	background-color: $paper;
	display: none;
	border-right: 2pt solid $inkdark;

	@include vf-grid;
}

.menu-button{
	grid-column: 1;
	grid-row: 6/8;
	margin: auto;
	margin-left: 0px;
	user-select: none;
	cursor: url("../assets/svg/cursor2.svg") 10 10, pointer;
}

.sidenav-button{
	grid-column: 5;
	grid-row: 6/8;
	margin: auto;
	margin-right: -40px;
	user-select: none;
}

.sidenav-button img{
	cursor: url("../assets/svg/cursor2.svg") 10 10, pointer;
}

/* Index stuff */

.section-head{
	margin-top: 20px;
	border-bottom: 1pt solid $inkdark;
}

.section-head:first-of-type{
	margin-top: 0px;
}

.section{
	margin-top: 20px;
	font-family: $small-font;
	font-size: 18px;
}

.section ul{
	list-style-type: none;
	padding: 0;
	margin: 0;
	line-height: 150%;
	/*list-style: vefre-decimal-0;*/
}

.section li{
	display: flex;
	justify-content: flex-start;
	white-space: pre;
	width: 100%;
	color: $inkdisabled;
}

/* End of index stuff */

/* DISGUSTING HACK CAUSE I RAN OUT OF TIME */

html{
	transition: ease all .5s;
}

@media screen and (min-width: 1174px) and (max-width: 1250px){
	html{
		transform: scale(0.8);
	}
}

@media screen and (min-width: 1250px) and (max-width: 1320px){
	html{
		transform: scale(0.9);
	}

}

/* END OF DISGUSTING HACK */