/* SASS declarations */
/* font declarations */
@font-face {
  font-family: "Soria";
  src: url("../assets/fonts/Soria-Soria.woff2") format("woff2"), url("../assets/fonts/Soria-Soria.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "EB Garamond";
  src: url("../assets/fonts/EBGaramond-Italic.woff2") format("woff2"), url("../assets/fonts/EBGaramond-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "EB Garamond";
  src: url("../assets/fonts/EBGaramond-Regular.woff2") format("woff2"), url("../assets/fonts/EBGaramond-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/* end of fonts */
/* End of SASS declarations */
/* Generic Vefran page stuff */
body {
  margin: 0;
  background-color: #44433D;
  color: #44433D;
  user-select: none;
}

h1 {
  font-family: Soria;
  font-size: 48px;
  margin: 0;
}

h2 {
  font-family: "EB Garamond";
  font-size: 24px;
  margin: 0;
  font-weight: normal;
}

a {
  color: #44433D;
  text-decoration: none;
  cursor: url("../assets/svg/cursor2.svg") 10 10, pointer;
}

p {
  font-family: "EB Garamond";
  font-size: 18px;
  margin-top: 20px;
}

p:first-of-type {
  margin-top: 0px;
}

span {
  font-style: italic;
}

.pageContainer {
  width: 1320px;
  height: 1656px;
  background-color: #FFFDF0;
  margin: auto;
  display: grid;
  cursor: url("../assets/svg/cursor1.svg") 10 10, default;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 20px;
  grid-template-rows: repeat(12, 1fr);
  grid-row-gap: 20px;
}

.deco-tl {
  grid-column: 1;
  grid-row: 1/3;
  background-image: url("../assets/svg/top-border.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.deco-tr {
  grid-column: 5;
  grid-row: 1/3;
  background-image: url("../assets/svg/top-border.svg");
  background-repeat: no-repeat;
  background-position: center center;
  transform: scaleX(-1);
}

.deco-bl {
  grid-column: 1;
  grid-row: 13/11;
  background-image: url("../assets/svg/bottom-border.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.deco-br {
  grid-column: 5;
  grid-row: 13/11;
  background-image: url("../assets/svg/bottom-border.svg");
  background-repeat: no-repeat;
  background-position: center center;
  transform: scaleX(-1);
}

.deco-bm {
  grid-column: 3;
  grid-row: 12;
  background-image: url("../assets/svg/bottom-deco.svg");
  background-repeat: no-repeat;
  background-position: center top;
}

.flip-left {
  grid-column: 1;
  grid-row: 13/11;
  background-image: url("../assets/svg/page-flip.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.flip-right {
  grid-column: 5;
  grid-row: 13/11;
  background-image: url("../assets/svg/page-flip.svg");
  background-repeat: no-repeat;
  background-position: center center;
  transform: scaleX(-1);
}

.vf-title {
  grid-column: 2/5;
  grid-row: 2/4;
  text-align: center;
  vertical-align: top;
}

.vf-ico {
  grid-column: 3;
  grid-row: 3;
  display: block;
  margin: auto;
}

.vf-ico img {
  height: 120px;
}

.vf-content {
  grid-column: 2/5;
  grid-row: 4/12;
}

.sb-content-hero {
  grid-column: 2/5;
  grid-row: 6/11;
}

.sb-content-nohero {
  grid-column: 2/5;
  grid-row: 2/11;
}

.urlsvg {
  transform: translateY(20%);
}

.sidenav {
  z-index: 1;
  grid-column: 1/5;
  grid-row: 1/13;
  background-color: #FFFDF0;
  display: none;
  border-right: 2pt solid #44433D;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 20px;
  grid-template-rows: repeat(12, 1fr);
  grid-row-gap: 20px;
}

.menu-button {
  grid-column: 1;
  grid-row: 6/8;
  margin: auto;
  margin-left: 0px;
  user-select: none;
  cursor: url("../assets/svg/cursor2.svg") 10 10, pointer;
}

.sidenav-button {
  grid-column: 5;
  grid-row: 6/8;
  margin: auto;
  margin-right: -40px;
  user-select: none;
}

.sidenav-button img {
  cursor: url("../assets/svg/cursor2.svg") 10 10, pointer;
}

/* Index stuff */
.section-head {
  margin-top: 20px;
  border-bottom: 1pt solid #44433D;
}

.section-head:first-of-type {
  margin-top: 0px;
}

.section {
  margin-top: 20px;
  font-family: "EB Garamond";
  font-size: 18px;
}

.section ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  line-height: 150%;
  /*list-style: vefre-decimal-0;*/
}

.section li {
  display: flex;
  justify-content: flex-start;
  white-space: pre;
  width: 100%;
  color: #B1AFA4;
}

/* End of index stuff */
/* DISGUSTING HACK CAUSE I RAN OUT OF TIME */
html {
  transition: ease all 0.5s;
}

@media screen and (min-width: 1174px) and (max-width: 1250px) {
  html {
    transform: scale(0.8);
  }
}
@media screen and (min-width: 1250px) and (max-width: 1320px) {
  html {
    transform: scale(0.9);
  }
}
/* END OF DISGUSTING HACK */
body {
  user-select: text;
}

h1 {
  text-align: left;
  line-height: 100%;
}

::selection {
  background-color: #44433D;
  color: #FFFDF0;
}

.byline {
  font-size: 24px;
  text-align: left;
  color: #757369;
  font-family: Soria;
  margin-top: 10px;
  font-weight: normal;
}

.vf-hero-1 {
  grid-column: 2/5;
  grid-row: 3/6;
  background-image: url("../assets/img/article-1.jpg");
  background-size: cover;
}

.vf-hero-2 {
  grid-column: 2/5;
  grid-row: 3/6;
  background-image: url("../assets/img/article-2.jpg");
  background-size: cover;
}

.urlbar {
  grid-column: 2/5;
  grid-row: 11;
  margin: 0 auto;
}

.no-select {
  user-select: none;
}

p {
  margin-top: 10px;
  margin-bottom: 10px;
}

/*# sourceMappingURL=document.css.map */
