@import "_shared";

body{
	user-select: text;
}

h1 {
	text-align: left;
	line-height: 100%;
}

::selection{
	background-color: $inkdark;
	color: $paper;
}

.byline {
	font-size: 24px;
	text-align: left;
	color: $inklight;
	font-family: $big-font;
	margin-top: 10px;
	font-weight: normal;
}

.vf-hero-1 {
	grid-column: 2/5;
	grid-row: 3/6;
	background-image: url("../assets/img/article-1.jpg");
	background-size: cover;
}

.vf-hero-2 {
	grid-column: 2/5;
	grid-row: 3/6;
	background-image: url("../assets/img/article-2.jpg");
	background-size: cover;
}

.urlbar{
	grid-column: 2/5;
	grid-row: 11;
	margin: 0 auto;
}

.no-select{
	user-select: none;
}

p{
	margin-top: 10px;
	margin-bottom: 10px;
}