body{
	margin: 0;
	background-color: #EEEEEE;
	color: #424242;
	font-family: Arial, Helvetica, sans-serif;
}

h1{
	font-size: 2rem;
	margin: 0;
}

h2{
	margin: 0;
}

.adblocker{
	display: flex;
	height:  2rem;
	width:  100%;
	background-color: #f7eb65;
	color:  #424242;
    justify-content: space-around;
	flex-direction: row;
	font-family:  Roboto, sans-serif;
}

.adblocker-stuff{
	width: 100%;
	display: flex;
    justify-content: space-between;
	flex-direction: row;
}

.adblocker h3{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	font-weight: normal;
	font-size:  0.8rem;
	margin: auto;
}

.adblocker-text{
	align-content: flex-start;
}

.page-container{
	margin: 0 auto;
	margin-bottom: 2rem;
	padding-top: 2rem;
	max-width: 800px;
	background-color: white;
	height: 100%;
}

.banner{
	background-color: #5ea3db;
	width:  100%;
	height:  4rem;
	color: white;
}

.banner-contents{
	margin:  auto;
	background-color: #5ea3db;
	max-width:  800px;
	display: flex;
	justify-content: space-between;
	align-content: center;
	flex-direction: row;
	cursor: not-allowed;
}

.fileware-logo{
	width: 10rem;
	height: 4rem;
	background-image: url(../assets/svg/fileware.svg);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

.entry{
	display: flex;
	justify-content: center;
}

p{
	margin-top: auto;
	margin-bottom: auto;
}

.dl-path{
	display: flex;
	justify-content: flex-start;
	margin-left:  2rem;
	padding-bottom:  2rem;
	font-size: 0.8rem;
	color: #a8a8a8;
}

.top-infobox{
	display: flex;
	flex-direction: row;
	padding-left: 2rem;
	padding-right: 2rem;
	padding-bottom:  2rem;
	justify-content: space-between;
}

.ti-left h2{
	font-weight: normal;
	color: #757575;
}

.ti-left{
	display: flex;
	flex-direction: row;
}

.ti-topleft{
	margin-right: 1rem;
}

.ti-topright{
	display: flex;
	flex-direction: column;
}

.fakelink{
	color: blue;
	cursor: not-allowed;
	text-decoration: underline;
}

.ti-right{
	display: flex;
	flex-direction: column;
	align-content: center;
}

.dl-button{
	display: flex;
	flex-direction: row;
	height: 5rem;
	width: 12rem;
	background-color: #55b25b;
	color:  white;
	border-radius:  3px;
	margin: auto;
	transition: all 0.5s ease;
}

a{
	text-decoration: none;
}

.dl-button:hover{
	background-color: #346d38;
}

.button-left{
	display: flex;
	flex-direction: column;
	padding: 1rem;
	width: 8rem;
}

.dl-button h2{
	font-size: 1.3rem;
}

.dl-button h3{
	font-weight: normal;
	margin: 0;
	margin-top: 0.5rem;
	font-size: 1.1rem;
}

.button-right{
	min-width: 3rem;
	background-image: url("../assets/svg/start.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 70%;
	display: flex;
	border-left: 1px solid white;
}

.button-right img{
	margin: auto;
}

.description{
	padding: 2rem;
	border-top: 1px solid #a8a8a8;
}

.description h2{
	font-size: 1.3rem;
	margin-bottom: 1rem;
}

.description p{
	margin-bottom: 0.5rem;
}

.description span{
	font-family: monospace;
}

ul{
	padding:  0;
}

li{
	margin-left: 2rem;
	margin-top: 0.5rem;
}

.specs{
	display:  grid;
	grid-template-columns:  repeat(2, 1fr);
	gap: 1rem;
}

h4{
	font-size: 1rem;
}

.footer{
	background-color: #5ea3db;
	width:  100%;
	min-height:  2rem;
	color: white;

	display: flex;
	flex-direction: column;
	align-content: center;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.footer p{
	max-width: 800px;
	margin: auto;
}