@import "_shared";

.email{
	display: grid;

	grid-template-columns: repeat(3, 1fr);
	grid-column-gap: 20px;
	grid-template-rows: repeat(3, 1fr);
	grid-row-gap: 20px;

	grid-column: 2/5;
	grid-row: 4/7;
}

.email a{
	display: grid;
}

.email-box{
	grid-row: span 2;
	grid-column: span 3;
	border: 2pt solid $inkdark;

	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-column-gap: 20px;
	grid-template-rows: repeat(2, 1fr);
	grid-row-gap: 20px;

	font-family: $small-font;
}

.to-field{
	grid-row: 1;
	grid-column: 1;
	font-size: 24px;
	margin: auto;
}

.from-field{
	grid-row: 1/3;
	grid-column: 2/4;
	font-size: 18px;
	margin: auto;
}

.bracket{
	grid-column: span 3;
	margin: 0 auto;
}