@import "_shared";

/* Intro stuff, only for intro.html */
.poweron{
	height: 100vh;
	width: 100vw;
	background-color: $inkdark;
}

video{
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}
/* End of intro stuff */