@import "_shared";
@import "index";

.sb-error{
	grid-column: 2/5;
	grid-row: 4;
	vertical-align: middle;
	margin: auto;
}

.sbi-content{
	grid-column: 2/5;
	grid-row: 5/12;
	
	/* display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-column-gap: 20px;
	grid-template-rows: repeat(12, 1fr);
	grid-row-gap: 20px; */
}

.sbi-head{
	margin-top: 20px;
	border-bottom: 1pt solid $inkdark;
}

.sbi-head:first-of-type{
	margin-top: 0px;
}

.sbi-article{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	font-family: $small-font;
	margin-top: 20px;
}

.sbi-text{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	font-size: 24px;
}

.sbi-date{
	color: $inklight;
	font-size: 18px;
}

.sbi-thumbnail{
	width: 200px;
	height: 100px;
	margin-right: 20px;
}

.urlbar{
	grid-column: 2/5;
	grid-row: 11;
	margin: 0 auto;
}

div.sbi-article{
	opacity: 0.5;
}