/* SASS declarations */
/* End of SASS declarations */
/* Generic Vefran page stuff */
body {
  margin: 0;
  background-color: #44433D;
  color: #44433D;
  user-select: none;
  cursor: url("../assets/svg/cursor1.svg") 5 5, default;
}

h1 {
  font-family: Soria;
  font-size: 48px;
}

h2 {
  font-family: "EB Garamond";
  font-size: 24px;
  margin: 0;
  font-weight: normal;
}

a {
  color: #44433D;
  text-decoration: none;
  cursor: url("../assets/svg/cursor2.svg") 5 5, pointer;
}

.pageContainer {
  width: 1320px;
  height: 1656px;
  background-color: #FFFDF0;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 20px;
  grid-template-rows: repeat(12, 1fr);
  grid-row-gap: 20px;
}

.deco-tl {
  grid-column: 1;
  grid-row: 1/3;
  background-image: url("../assets/svg/top-border.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.deco-tr {
  grid-column: 5;
  grid-row: 1/3;
  background-image: url("../assets/svg/top-border.svg");
  background-repeat: no-repeat;
  background-position: center center;
  transform: scaleX(-1);
}

.deco-bl {
  grid-column: 1;
  grid-row: 13/11;
  background-image: url("../assets/svg/bottom-border.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.deco-br {
  grid-column: 5;
  grid-row: 13/11;
  background-image: url("../assets/svg/bottom-border.svg");
  background-repeat: no-repeat;
  background-position: center center;
  transform: scaleX(-1);
}

.deco-bm {
  grid-column: 3;
  grid-row: 12;
  background-image: url("../assets/svg/bottom-deco.svg");
  background-repeat: no-repeat;
  background-position: center top;
}

.vf-title {
  grid-column: 2/5;
  grid-row: 2;
  text-align: center;
  vertical-align: middle;
}

.vf-ico {
  grid-column: 3;
  grid-row: 3;
  display: block;
  margin: auto;
}

.vf-content {
  grid-column: 2/5;
  grid-row: 4/12;
}

/* Index stuff */
/*@counter-style vefre-decimal-0 {
	system: fixed;
	symbols: 00.1 00.2 00.3 00.4 00.5 00.6 01.1 01.2 01.3 01.4 01.5;
	suffix: "      ";
}*/
.section-head {
  margin-top: 20px;
  border-bottom: 1pt solid #44433D;
}

.section-head:first-of-type {
  margin-top: 0px;
}

.section {
  margin-top: 20px;
  font-family: "EB Garamond";
  font-size: 18px;
}

.section ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  line-height: 150%;
  /*list-style: vefre-decimal-0;*/
}

.section li {
  display: flex;
  justify-content: flex-start;
  white-space: pre;
  width: 100%;
  color: #B1AFA4;
}

/* End of index stuff, only for index.html */
/* Intro stuff, only for intro.html */
.poweron {
  height: 100vh;
  width: 100vw;
  background-color: #44433D;
}

video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

/* End of intro stuff */

/*# sourceMappingURL=vefre.css.map */
